
@use "../config" as *;

html {
  font-size: calc(16 * (100vw / var(--size)));

  @include media-breakpoint-up(xl) {
    font-size: calc(12 * (100vw / 1440));
  }

  &.lenis { scroll-behavior: initial; }
}

[data-router-view] { min-height: 100vh; }

body {
  &.open { overflow: hidden; }
}

section {
  display: flow-root;

  &.b-cover,
  &.b-cover-slider { display: block; }
}

.page-head,
.home-head,
.news-head,
.single-head,
.necrologie-head,
.single-necrologie {
  margin-top: 0;
  padding-top: 4rem;

  @include media-breakpoint-up(lg) { padding-top: 12rem; }
}

.e-link {
  position: relative;
}

a {
  color: $black;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.6s $ease-out;

  @media (hover: hover) {
    &:hover { color: $primary; }
  }
}

.sidebar {
  display: none;
  margin: 3rem auto;

  @include media-breakpoint-up(lg) { display: block; }

  .widget {
    margin-bottom: 2.5rem;

    h3 {
      color: $black;
      margin-bottom: 1.5rem;
    }
  }
}

.image-left {
  margin-right: 2%;
  float: left;
}

.image-right {
  margin-left: 2%;
  float: right;
}
