@use "../config" as *;

.b-flexible-content {
  .c-classic-content {
    &__content {
      margin-top: 2rem;
    }

    &__button {
      margin-top: 3rem;
      text-align: center;
    }
  }

  &__block {
    color: $white;
    background: $black;

    .c-classic-content {
      padding: 2rem;

      &__content {
        margin-top: 1rem;
      }

      &__button {
        margin-top: 1.25rem;
      }
    }
  }

  .flexible-classic-media {
    .f-media {
      &--image {
        height: 25rem;

        @include media-breakpoint-up(lg) { height: 30rem; }
      }
    }
  }
}
